<script type="text/template" id="category-zero-level-template">
    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"><%-Title%><i class="fa fa-angle-down"></i></a>
</script>

<script type="text/template" id="category-first-level-template">
    <li><a href="<%-Link%>"><%-Title%></a></li>
</script>

<script type="text/template" id="search-template">
    <li class="menu-search">
        <span class="sep"></span>
        <i class="fa fa-search search-btn"></i>

        <div class="search-box">
            <form action="#">
                <div class="input-group input-large">
                    <input class="form-control" type="text" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn theme-btn">Go</button>
                    </span>
                </div>
            </form>
        </div> 
    </li>
</script>
