<script type="text/template" id="category-zero-level-template">
    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"><%-Title%><i class="fa fa-angle-down"></i></a>
</script>

<script type="text/template" id="category-first-level-template">
    <li><a href="<%-Link%>" data-id="<%-Id%>"><%-Title%></a></li>
</script>

<script type="text/template" id="search-template">
    <li class="menu-search">
        <span class="sep"></span>
        <i class="fa fa-search search-btn"></i>

        <div class="search-box">
            <form action="#">
                <div class="input-group input-large">
                    <input class="form-control" type="text" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn theme-btn">Go</button>
                    </span>
                </div>
            </form>
        </div> 
    </li>
</script>

<script type="text/template" id="movable-item">
	<div class="col-md-3 col-sm-4">
		<img src="Gallery/<%-Gallery.FolderId%>/<%-Gallery.Avatar%>" alt="" class="img-responsive">
	</div>
	<div class="col-md-8 col-sm-8">
		<h2><a href="blog_item.html"><%-Last%>&nbsp;<%-First%>&nbsp;<%-Middle%></a></h2>
		<ul class="blog-info">
			<li><i class="fa fa-calendar"></i> 25/07/2013</li>
			<li><i class="fa fa-comments"></i> 17</li>
			<li><i class="fa fa-tags"></i> Hairdress</li>
		</ul>
		<p><%-Details.Experience%></p>
		<a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
	</div>
</script>
