<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key ="inputFiles" value = "jsres:Views\App_LocalResources\ElResources.resx"/>
    <add key ="outputFileName" value = "Resources.en-US.js"/>
    <add key ="directoryPath" value = "EL.Server\Scripts\Resources\"/>
    <add key="LogFile" value="Utility\ResxToJS\bin\Release\ConvertLog"/>
  </appSettings>
</configuration>
