<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
    <body>
        <h2>Hello master page</h2>
        <div>
            @RenderBody() 
        </div>
    </body>
</html>
