<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    @RenderSection("Header", false)
    <body class="page-header-fixed">
        <!-- BEGIN HEADER -->
            @RenderSection("PersonalPanel", true)
        <!-- END HEADER -->
        <div>
            @RenderBody() 
        </div>
    @RenderSection("Home", true)
    </body>
</html>
