<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="EL.Server" />
    <assembly name="EL.WebApi"/>
    <assembly name="EL.Logic"/>
    <assembly name="EL.EntityModels"/>
    <assembly name="EL.Core"/>

    <container>
      <register name="ApiBootstrapper" type="EL.Logic.ApplicationLevel.IBootstrapper" mapTo="EL.WebApi.Bootstrapper">
        <lifetime type="singleton"/>
      </register>
      <register type="EL.Logic.CuttingEdge.ExceptionSettings" mapTo="EL.Logic.CuttingEdge.ExceptionSettings">
        <lifetime type="singleton"/>
        <property name="ErrorLinkTemplate" value="http://example.org/help/error/{0}" />
        <!-- PROD: Set to false for. This hides some error details from client but leave them in logs -->
        <property name="ProduceDeveloperInfo" value="true" />
      </register>
      <register name="log" type="EL.Logic.CuttingEdge.ILogger" mapTo="EL.Logic.CuttingEdge.Logger">
        <lifetime type="singleton"/>
        <!--<constructor>
          <param name="level" value="Verbose">
            <dependency/>
          </param>
        </constructor>-->
      </register>
      <register type="EL.Logic.Core.ILocaleReader" mapTo="EL.Logic.Core.LocaleReader">
        <property name="CastToWellKnownCulture" value="False" />
        <property name="IgnoreClientLanguages" value="False" />
        <property name="DefaultLocale" value="en-US" />
        <property name="SupportedLanguages" value="en" />
      </register>
    </container>
  </unity>
</configuration>