<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="EL.Server" />
    <assembly name="EL.WebApi"/>
    <assembly name="EL.Logic"/>

    <container>
      <register name="ApiBootstrapper" type="EL.Logic.ApplicationLevel.IBootstrapper" mapTo="EL.WebApi.Bootstrapper">
        <lifetime type="singleton"/>
      </register>
      <register type="EL.Logic.Core.ILocaleReader" mapTo="EL.Logic.Core.LocaleReader">
        <property name="CastToWellKnownCulture" value="False" />
        <property name="IgnoreClientLanguages" value="False" />
        <property name="DefaultLocale" value="en-US" />
        <property name="SupportedLanguages" value="en" />
      </register>
    </container>
  </unity>
</configuration>