<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="module.definitions" type="EL.Logic.ApplicationLevel.ModulesSettingsSection, EL.Logic, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Build" value="1.0.0.0"/>
  </appSettings>
  <connectionStrings>
    <add name="LineConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=LineDB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\LineDB.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <module.definitions>
    <modules>
      <add name="ew">
        <settings>
          <add key="Title" value="AppTitle"/>
          <add key="Bootstrapper" value="EL.AppBootstrapper"/>
          <add key="CustomerCareUrl" value="http://www.ihs.com/about/contact-us/index.aspx"/>
          <add key="PostClientErrorsToServer" value="False"/>
          <add key="resourceTemplate" value="~/Scripts/resources/Resources.{0}.js"/>
        </settings>
        <pages>
          <add name="Dashboard">
            <settings>
              <add key="Gadgets" value="5"/>
            </settings>
          </add>
          <add name="FactFinder">
            <settings>
              <add key="SentencesLimit" value="200"/>
              <add key="SentencePageSize" value="10"/>
              <add key="TopicPageSize" value="5"/>
              <add key="AnswerPageSize" value="5"/>
              <add key="AnswersLimit" value="200"/>
              <add key="HasSentiments" value="0"/>
              <add key="SearchTimeout" value="630000"/>
              <add key="SearchInTitles" value="1"/>
              <add key="ReturnContentClasses" value="1"/>
            </settings>
          </add>
          <add name="ITA">
            <settings>
              <add key="ITAExportTableLimit" value="1000"/>
            </settings>
          </add>
        </pages>
      </add>
      <add name="ghc">
        <settings>
          <add key="JsBundle" value="~/js/ghc2"/>
          <add key="CssBundle" value="~/Css/ghc"/>
          <add key="CssDocBundle" value="~/CssDoc/ew"/>
          <add key="Title" value="GHCProductTitle"/>
          <add key="Bootstrapper" value="IHS.GHC.AppBootstrapper"/>
          <add key="CustomerCareUrl" value="http://www.ihs.com/about/contact-us/index.aspx"/>
          <add key="PostClientErrorsToServer" value="False"/>
          <add key="resourceTemplate" value="~/js/Resources/Resources.{0}.js"/>
        </settings>
        <pages>
          <add name="Dashboard">
            <settings>
              <add key="Gadgets" value="5"/>
            </settings>
          </add>
          <add name="FactFinder">
            <settings>
              <add key="SentencesLimit" value="200"/>
              <add key="SentencePageSize" value="10"/>
              <add key="TopicPageSize" value="5"/>
              <add key="AnswerPageSize" value="5"/>
              <add key="AnswersLimit" value="200"/>
              <add key="HasSentiments" value="1"/>
              <add key="SearchTimeout" value="630000"/>
              <add key="SearchInTitles" value="0"/>
              <add key="ReturnContentClasses" value="0"/>
            </settings>
          </add>
          <add name="ITA">
            <settings>
              <add key="ITAExportTableLimit" value="1000"/>
            </settings>
          </add>
        </pages>
      </add>
    </modules>
  </module.definitions>
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <customErrors mode="RemoteOnly"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>