@{
    Layout = "~/Views/Shared/_LayoutEL.cshtml";
}

<div class="realService">
    <div class="realHeader">
        <h2>Real service</h2>
    </div>
    <!-- BEGIN GOOGLE MAP -->
    <div class="row">
        <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
    </div>
    <!-- END GOOGLE MAP -->
</div>

<div class="movableService"></div>

<!-- BEGIN CONTAINER -->
<div class="container">
</div>
<!-- END CONTAINER -->
