@{
    Layout = "~/Views/Shared/_LayoutEL.cshtml";
}

<div class="realService">
    <div class="realHeader">
        <h2>Real service</h2>
    </div>
    <!-- BEGIN GOOGLE MAP -->
    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
    <!-- END GOOGLE MAP -->
</div>

<div class="movableService">
    <div class="movableHeader">
        <h2>Movable service</h2>
    </div>
    <!-- BEGIN MOVABLE SERVICES -->
    <div class="row">
        <div id="movables" class="col-md-9 col-sm-9 blog-posts"></div>
    </div>
    <!-- END MOVABLE SERVICES -->
</div>

<!-- BEGIN CONTAINER -->
<div class="container">
</div>
<!-- END CONTAINER -->
